services:
  redroid:
    container_name: redroid
    image: erstt/redroid:15.0.0_ndk_magisk_litegapps_AVD
    privileged: true
    devices:
      - "/dev/kvm:/dev/kvm"
      - "/dev/binder:/dev/binder"
      - "/dev/hwbinder:/dev/hwbinder"
      - "/dev/vndbinder:/dev/vndbinder"
      - "/dev/dri:/dev/dri"
    ports:
      - 5555:5555
    volumes:
      - ./data:/data
    command:
      - androidboot.use_memfd=true
      - androidboot.redroid_net_ndns=2
      - androidboot.redroid_net_dns1=1.1.1.1
      - androidboot.redroid_net_dns2=1.0.0.1
      - androidboot.redroid_gpu_mode=guest
      - ro.adb.secure=0      

  scrcpy-web:
    container_name: scrcpy-web
    restart: unless-stopped
    image: shmayro/scrcpy-web:latest
    privileged: true
    depends_on:
      - redroid
    ports:
      - 8000:8000
    command: >
      sh -c "
        echo 'Mencari keberadaan redroid...';
        until nc -z redroid 5555; do
          echo 'Redroid port 5555 belum siap, menunggu 3 detik...';
          sleep 3;
        done;
        echo 'Koneksi Berhasil! Menyambungkan ADB...';
        adb connect redroid:5555 &&
        npm start
      "
