services:
  redroid:
    container_name: redroid
    image: redroid:11.0.0-nb
    privileged: true
    devices:
      - "/dev/kvm:/dev/kvm"
      - "/dev/binder:/dev/binder"
      - "/dev/hwbinder:/dev/hwbinder"
      - "/dev/vndbinder:/dev/vndbinder"
    ports:
      - 5555:5555
    volumes:
      - ./data:/data
    command:
      - androidboot.use_memfd=true
      - androidboot.redroid_gpu_mode=host
      - ro.adb.secure=0
      - ro.product.cpu.abilist=x86_64,x86,arm64-v8a,armeabi-v7a,armeabi
      - ro.product.cpu.abilist32=x86,armeabi-v7a,armeabi
      - ro.product.cpu.abilist64=x86_64,arm64-v8a
      - ro.vendor.product.cpu.abilist=x86_64,x86,arm64-v8a,armeabi-v7a,armeabi
      - ro.vendor.product.cpu.abilist32=x86,armeabi-v7a,armeabi
      - ro.vendor.product.cpu.abilist64=x86_64,arm64-v8a
      - ro.odm.product.cpu.abilist=x86_64,x86,arm64-v8a,armeabi-v7a,armeabi
      - ro.odm.product.cpu.abilist32=x86,armeabi-v7a,armeabi
      - ro.odm.product.cpu.abilist64=x86_64,arm64-v8a
      - ro.dalvik.vm.native.bridge=libhoudini.so
      - ro.enable.native.bridge.exec=1
      - ro.enable.native.bridge.exec64=1
      - ro.dalvik.vm.isa.arm=x86
      - ro.dalvik.vm.isa.arm64=x86_64
      - ro.zygote=zygote64_32


  scrcpy-web:
    container_name: scrcpy-web
    restart: unless-stopped
    image: shmayro/scrcpy-web:latest
    privileged: true
    depends_on:
      - redroid
    ports:
      - 8000:8000
    command: >
      sh -c "
        echo 'Mencari keberadaan redroid...';
        until nc -z redroid 5555; do
          echo 'Redroid port 5555 belum siap, menunggu 3 detik...';
          sleep 3;
        done;
        echo 'Koneksi Berhasil! Menyambungkan ADB...';
        adb connect redroid:5555 &&
        npm start
      "